.md-typeset h5, .md-typeset h6 {
  color: var(--md-default-fg-color);
    text-transform: capitalize;
  }

  .md-typeset h2 {
    font-weight: 500;
  }

  .md-typeset h5 {
    font-size: 1.1em;
  }

  .md-typeset h6 {
    font-size: 1em;
  }

/* 
  [data-md-color-scheme=default] :root {
    --theme-dp-header-color: #000000;
  }

  [data-md-color-scheme=slate] :root {
    --theme-dp-header-color: #ffffff;
  } */